h2 > span {
  color: var(--color-text-2);
}
nav {
  width: 250px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: var(--color-text-1);
  flex-basis: 280px;
  gap: 1.2rem;
  margin: 1rem;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
nav .logo {
  margin-bottom: 1rem;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: flex;
  align-items: center;
}

.menu > ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.user {
  width: auto;
  background-color: var(--background-color-4);
  border-radius: 0.6rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  bottom: 0;
  margin-top: auto;
  margin-bottom: 1rem;
}
.user img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--background-color-4);
}
img {
  width: 15%;
  height: 15%;
}
.user h4 {
  font-size: 1.2rem;
  color: #333;
}
.job {
  font-size: 0.6rem;
}
.user span {
  font-size: 1rem;
  color: #777;
}
.user span {
  color: #999;
  font-size: 1rem;
}
.user a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 8px 16px;
  background-color: var(--background-color-3);
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid #fff;
}

.copyright {
  margin-top: 3rem;
  opacity: 0.55;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.other > h5 {
  opacity: 0.55;
}
.other > ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
  bottom: 0;
}
.menu > a > span {
  display: flex;
  flex-direction: column;
}

a {
  display: flex;
  align-items: center;
}
li {
  padding: 0.6rem;
  border-radius: 1rem;
}

.menu ul li a,
.other ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.other {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

span > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ul > li > a > .notifications-icon {
  display: flex;
  gap: 0.5rem;
}

ul > li > a > .notifications-span {
  display: flex;
  flex-grow: 1;
}

ul > li > a > .badge {
  background-color: var(--background-color-1);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  font-weight: bold;
}

span.hour {
  display: flex;
  text-align: center;
}
.user > a:active {
  scale: 0.95;
  transition: 0.2s;
}

li:hover {
  background-color: var(--background-color-1);
  transition: 0.2s;
  width: 90%;
}
li:active {
  scale: 1.05;
}

.user a:hover {
  opacity: 0.7;
}
